.settings-options {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 500px;
    margin: auto;
}

.setting-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
